<div class="row">
    <div class="col s12">

        <div id="fullpage">


        <div class="section" id="section0" style='padding-left:330px;padding-top:8%'>


            <i class="material-icons" style='font-size: 50px;color:#7c5f32;'>place</i>
            <p style='font-size:30px;padding:5px;margin:0 0 7px 0'>
                K.S.A. Jeddah <br />
                Al Rawdah St. - Opp. of Sabb Bank.
            </p>
    
            <i class="material-icons" style='font-size: 50px;color:#7c5f32;'>local_phone</i>
            <p style='font-size:30px;padding:5px;margin:0 0 7px 0'>
                +966 12 422225 <br />
                +966 12 422226 <br />
                +966 12 6555553
            </p>
    
            <i class="material-icons" style='font-size: 50px;color:#7c5f32;'>email</i>
            <p style='font-size:30px;padding:5px;margin:0 0 7px 0'>
                ahmednada@rosewhite1.com
            </p>
        

        </div>

        <div class="section" id="section1">


            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7420.399728004028!2d39.15574480000001!3d21.57812023895841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a5a2ee53f52413c!2z2YHZhtiv2YIg2KfZhNmI2LHYr9ipINin2YTYqNmK2LbYp9ih!5e0!3m2!1sen!2ssa!4v1517207730551&z=15" 
            class="bg-map" 
            frameborder="0" 
            style="border:0" 
            allowfullscreen>
            </iframe>            
                

        </div>

        <div class="section" id="section2" style='padding-left:250px;padding-top:2%'>

        </div>



        </div>

    </div>
</div>