<div class="row">
    
    <div id='main-left-wrapper' class="col s7" style="overflow:hidden">

        <div id="va-accordion" class="va-container">

            <!-- <div class="va-nav">
                <span class="va-nav-prev">Previous</span>
                <span class="va-nav-next">Next</span>
            </div> -->
        
            <div class="va-wrapper">

                    <div class="va-slice va-slice-1">
                    </div>

                    <div class="va-slice va-slice-2">
                    </div>
                    
                </div>
            
            <!-- <div id='left-container'>
            </div> -->

        </div>

    </div>

    <div class="col s5" style="overflow:hidden">
        
        <div id='top-right-container'>
        </div>
        <div style="height:50%;overflow:hidden">
            <div id='bottom-right-container'>
            </div>
        </div>
        
    </div>

</div>