#slide-out{
padding-top: 4%;
opacity: 0.8;
}

/* .side-nav li>a{
color: aliceblue;
}
a{
color:white;
} */

#nav-slider{
display: none;
}

/* social media */
.fa {
/* width:50px;
padding-top:12px;
height:50px; */
font-size: 28px;
text-align: center;
text-decoration: none;
border-radius: 50%;
color:#6e5124;
margin:8px;
}

.fa:hover {
color: black;
}

#social-media{
margin-left:60px;
position: absolute;
bottom:16%;
}