
<ul id="slide-out" class="side-nav fixed">
    <li align='center'>
        <img src="assets/img/logo.png">
    </li>
    <li align='center'><a class="waves-effect nav-link" routerLink="" style='margin-top:16px'>HOME</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/about-us">ABOUT HOTEL</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/restaurant">RESTAURANT</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/contacts">CONTACTS</a></li>
    <li align='center' style='color:#87540d'>EN | AR</li>

    <div id="social-media">
        <a href="#" class="fa fa-instagram" style=''></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-snapchat"></a>
    </div>

</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i id='nav-slider' class="material-icons">menu</i></a>