
<ul id="slide-out" class="side-nav fixed">
    <li align='center'>
        <img src="assets/img/logo.png">
    </li>
    <li align='center'><a class="waves-effect" routerLink="">HOME</a></li>
    <li align='center'><a class="waves-effect" routerLink="/about-us">ABOUT US</a></li>
    <li align='center'><a class="waves-effect" routerLink="/restaurant">RESTAURANT</a></li>

    <div id="social-media">
        <a href="#" class="fa fa-instagram" style=''></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-snapchat"></a>
    </div>

</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i id='nav-slider' class="material-icons">menu</i></a>