
<ul id="slide-out" class="side-nav fixed">
    <li align='center'>
        <img src="assets/img/logo.png">
    </li>
    <li align='center'><a class="waves-effect" routerLink="">HOME</a></li>
    <li align='center'><a class="waves-effect" routerLink="/about-us">ABOUT US</a></li>
    <li align='center'><a class="waves-effect" routerLink="/home2">HOME 2</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i id='nav-slider' class="material-icons">menu</i></a>