<div class="row">
    
    <a routerLink="/room">
    
        <div class="col s7" style="overflow:hidden">

            <div id="fullpage">

                <div class="section center-align" id="section1" style='padding-left:200px'>
                    <div class='overlay-color'>
                        <h1 style='padding-top:12%;font-size:30px;'>- DELUX -</h1>
                        <h1 style='font-size:75px;font-weight:bold'>ROOM</h1>
                    </div>
                </div>

                <div class="section center-align" id="section0" style='padding-left:200px'>
                    <div class='overlay-color'>
                        <h1 style='padding-top:12%;font-size:30px;'>- DELUX -</h1>
                        <h1 style='font-size:75px;font-weight:bold'>ROOM</h1>
                    </div>
                </div>

            </div>

        </div>

    </a>     
                


    <div class="col s5" style="overflow:hidden">
        
        <a routerLink="/restaurant">

            <div id='top-right-container' class='center-align'>
                <div class='overlay-color'>
                    <h1 style='padding-top:16%;font-size:90px;font-weight:bold'>SAMARA</h1>
                    <h1 style='font-size:30px;'>- RESTAURANT -</h1>
                    <h1 style='font-size:25px;padding:7px;border:1px solid gold;width:43%;margin:auto;margin-top:15px'>about our restaurant</h1>
                </div>
            </div>
        
        </a>

        <div style="height:50%;overflow:hidden">


            <a routerLink="">

                <div id='bottom-right-container'>
                    <div class='overlay-color'>
                        <h1 style='margin-left:8%;padding-top:15%;font-size:55px'>LISTEN</h1>
                        <h1 style='margin-left:8%;font-size:55px;font-weight:bold'>TO YOUR</h1>
                        <h1 style='margin-left:8%;font-size:55px;font-weight:bold'>BODY</h1>
                    </div>
                </div>
            
            </a>


        </div>
        
    </div>

</div>
    