.overlay-color{
transition: background-color 0.5s ease;  
background:rgba(0, 0, 0, 0.15);
height:100vh;
}

.overlay-color:hover{
background:rgba(75, 52, 19, 0);
}

*{
margin:0;
padding:0;
}

h1{
color: aliceblue;
}

#left-container{
height: 100vh;
background-size: cover;
}

#section0{
background: url("../../../../src/assets/img/second-room.jpg") no-repeat center;
height: 100vh;
}

#section1{
background: url("../../../../src/assets/img/first-room.jpg") no-repeat center;
height: 100vh;
}

.section{
-webkit-transform: scale(1,1);
-webkit-transition: all 0.5s ease-in-out;
}

.section:hover{
-webkit-transform: scale(1.04,1.04);
-webkit-transition: all 0.3s ease-in-out;
}

#top-right-container{
background: url("../../../../src/assets/img/bancake.jpg") no-repeat center;
height: 50vh;
background-size: cover;
-webkit-transform: scale(1,1);
-webkit-transition: all 0.5s ease-in-out;
}

#top-right-container:hover{
-webkit-transform: scale(1.04,1.04);
-webkit-transition: all 0.3s ease-in-out;
}

#bottom-right-container{
background: url("../../../../src/assets/img/gym.jpg") no-repeat center;
height: 50vh;
background-size: cover;
-webkit-transform: scale(1,1);
-webkit-transition: all 0.5s ease-in-out;
}

#bottom-right-container:hover{
-webkit-transform: scale(1.04,1.04);
-webkit-transition: all 0.3s ease-in-out;
}
