<div class="row">
    <div class="col s12">
  
      <div id="fullpage">
  
  
        <div class="section" id="section0" style="padding-left:300px">


            <div class="row">

                <div class="col s4 valign-wrapper">
                <h5 style='padding-top:20%;font-size:40px;font-weight:bold;color:#a38454;margin:0'>ABOUT ROSE WHITE</h5>
                </div>

            </div>
            
            
            <div class="row">

            <div class="col s4">

                <div style='font-size:14px;text-align : justify;color:white;line-height: 1.6;font-weight:normal'>
                
                    
                    <p>
                        Iconic, stylish and sophisticated, Radisson Rose white hotel creates excitingly individual hotels for individual minds. We delight our travel savvy, modern guests with a genuine, inviting ambiance. We create excitement with our stunning, leading edge design. And we strive to engage each and every guest through our innovative and very relevant range of holistic facilities and services, including fast Free Internet. We’ve packaged it all neatly together, with our unique Yes I Can!SM service ethos and our 100% Satisfaction Guarantee.                    
                    </p>

                    <p>
                        Radisson Blu features 380 unique hotels, open or coming soon, in the world’s most desirable destinations: dynamic major cities, nearby airport gateways and in the most sought after leisure hotspots.
                    </p>

                    <p>
                        Rose White . Designed for you.
                    </p>           
            
                </div>

            </div>

            </div>
                        
        </div>


        <div class="section" id="section1" style='padding-left:250px;padding-top:2%'>

            <div class="row">
                <div class="col s12">
                    <div class='center-align' style="height:92vh;width:94%;margin-left:3%;margin:0">

                        <div class='overlay-color'>
                            <h1 style='color:white;font-size:90px;padding-top:18%;margin:0;font-weight:bold'>FOCUS</h1>
                            <h1 style='color:white;font-size:30px;font-weight:bold;letter-spacing: px;margin:10px 0'>ON IMPORTANT THINGS</h1>

                            <div class="col s4"></div>
                            <div class="col s4">

                                <p style='color:white;font-size:18px;margin:0;text-align : justify'>
                                    You will be focused on the most important tasks in our stylish conference hall fitted with all the necessary equipment. Experiment, communicate and work hard while we prepare a delicious lunch at our restaurant just for you.
                                </p>
                                
                            </div>
                            <div class="col s4"></div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
  

        
        <div class="section" id="section2" style='padding-left:250px;padding-top:2%'>

            <div class="row">
                <div class="col s12">
                    <div style="border:3px solid #666666;height:92vh;width:94%;margin-left:3%">

                        <div class="col s6"></div>

                        <div class='overlay-color col s6'>

                            <h1 style='color:white;font-size:80px;padding-top:83%;margin:0;font-weight:bold'>DISCOVER</h1>
                            <h1 style='color:white;font-size:30px;font-weight:bold;letter-spacing: px;margin:10px 0'>SOMETHING NEW ABOUT THE CITY</h1>


                            <p style='color:white;font-size:18px;margin:0;text-align : justify;padding-right:30px'>
                                    Look at the city from a new angle on a promenade. Set aside your cell-phone and just walk around the old center. Slowly. Without any hurry. Rest assured, you will remember this walk. The old center is nearby, just a couple of minutes by foot, and it’s waiting for you.
                            </p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
  
  
  
      </div>
  
    </div>
  </div>