#section0{
  background: url("../../../../src/assets/img/building1.jpg") no-repeat center;
  height: 100vh;
  }
  
  #section1{
  background: url("../../../../src/assets/img/focus.jpg") no-repeat center;
  height: 100vh;
  }
  
  #section2{
  background: url("../../../../src/assets/img/building2.jpg") no-repeat center;
  height: 100vh;
  }
  
  .section{
  padding: 0;
  margin: 0;
  }