<div class="row">
  <div class="col s12">

    <div id="fullpage">


      <div class="section" id="section0" style='padding-left:250px;padding-top:2%'>

        <div class="row">
          <div class="col s12">
            <div class='center-align' style="border:3px solid #c0a06f;height:92vh;width:94%;margin-left:3%">

                <div class='overlay-color'>
                    <h1 style='color:white;font-size:30px;padding-top:18%;letter-spacing: 10px;'>- SAMRA RESTAURANT -</h1>
                    <h1 style='color:white;font-size:90px;font-weight:bold'>WE CREATE THE MODE</h1>
                </div>

            </div>
          </div>
        </div>

      </div>

      <div class="section" id="section1" style="padding-left:300px">


        <div class="row">
            <div class="col s6 valign-wrapper">
              <h5 style='padding-top:40%;font-size:80px;font-weight:bold;border-bottom:3px solid #bea101'>BUSINESS LUNCH</h5>
            </div>

            <div class="col s6">
                <img src='assets/img/sweet.jpg' style='float:right;height:100vh;position:absolute;right:0'>
            </div>

        </div>
          
        
        <div class="row">

          <div class="col s6">

            <h5 style='font-size:20px;text-align : justify;'>
              
              Take a break for business lunch and get more energy to make your day even more productive. We offer you European cuisine, helpful staff, and several comfortable dining rooms.

            </h5>

          </div>

        </div>
                    
      </div>



      <div class="section" id="section2" style='padding-left:250px;padding-top:2%'>
  
      </div>
  

    </div>

  </div>
</div>